.general__container {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 96vh;
  flex-direction: column;
  justify-content: center;
}

.logo__container {
  display: flex;
  justify-content: center;
}

.logo__info {
  display: flex;
  flex-direction: column;
  width: 14%;
  align-items: center;
}

.logo__info__text {
  font-size: 11px;
  font-weight: bold;
}

img {
  width: 50%;
}

.login__title {
  font-size: 24px;
  font-weight: bold;
}

.login__minor__text {
  font-size: 12px;
}

.login__minor__forgot-password {
  margin-top: 36px;
}

.p__link {
  color: #fff;
}

.login__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: 20%;
}

.login__form__submit-btn {
  text-decoration: none;
  color: #838383;
  background-color: #ebca5f;
  width: 100%;
  text-align: center;
  border-radius: 20px;
  padding: 8px 0px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border: none;
  font-size: 16px;
}

.login__form__submit-btn:hover {
  cursor: pointer;
}

.login__form__password-field {
  display: flex;
  align-items: center;
  width: 106%;
}

.login__form__password-field
  svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-i4bv87-MuiSvgIcon-root {
  position: absolute;
  left: 58%;
}

.login-form__visibility-btn {
  margin-top: -9%;
  cursor: pointer;
}

.login__form__input {
  border-radius: 20px;
  background-color: #486851;
  padding: 8px;
  border: none;
  width: 100%;
  color: #fff;
}

.login__form__input::placeholder {
  color: #fff;
}
