@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,800;0,900;1,400;1,600;1,800;1,900&display=swap');
* {
    background-color: #0d1117;
}
.on-box__title{
    font-family: 'Nunito', sans-serif;
    color:#77AD78;
}